body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

body {
  padding: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.card {
  box-shadow: 0 6px 10px #DDDDDD;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  margin-top: 2em;
}

.card:hover {
  cursor: pointer;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 0;
}

hr {
  height: 3px;
}

.scrollable-content {
  height: 475px;
  overflow: auto;
}

#chat-input-container {
  display: flex;
  margin-bottom: 0;
}

#chat-input {
  margin-right: 1em;
}

#send-btn {
  padding: 0 2em 0 2em;
}

.error-msg {
  color: indianred;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.hidden {
  display: none;
}