body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

body {
  padding: 2em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 2em;
}

.card {
  box-shadow: 0 6px 10px #DDDDDD;
  border-radius: 5px;
  padding: 0.5em;
  margin: 1em;
  margin-top: 2em;
}

.card-title {
  margin: 0;
}

.card-text {
  margin: 0;
}

.hidden {
  display: none;
}

hr {
  height: 3px;
}

.scrollable-content {
  height: 528px;
  overflow: auto;
}

/* 
h1 {
  text-align: center;
  font-size: 50pt;
}

#search-container {
  display: flex;
  align-items: center;
  margin: 1em;
}

input {
  width: 40em;
  height: 2em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-right: 1em;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(186, 185, 185);
}

button {
  height: 2.35em;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgba(0,118,255,0.39);
}

#meta-container {
  display: flex;
  width: 60%;
}

#meta-container p {
  font-weight: 400;
}

#meta-container img {
  width: 200px;
  height: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.data-container {
  margin-right: 1em;
  margin-left: 1em;
}

a {
  color: blue;
}

.card {
  box-shadow: 0 6px 10px #DDDDDD;
  border-radius: 5px;
  padding: 0;
  margin: 1em;
  margin-top: 2em;
}

.error-msg {
  margin-right: 1em;
  margin-left: 1em;
} */